.app.dark {
  --bg-color: #424242;
  --inverted-bg-color: #EEEEEE;

  --primary-color: #FF9800;
  --secondaty-color: #FFFFFF;
  --inverted-primary-color: #C62828;
  --inverted-secondaty-color: #212121;
}