.app.light {
  --bg-color: #EEEEEE;
  --inverted-bg-color: #424242;

  --primary-color: #C62828;
  --secondaty-color: #212121;
  --inverted-primary-color: #FF9800;
  --inverted-secondaty-color: #FFFFFF;
}